body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ddd1c7;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    cursor: url('m_move.cur'), auto;
}
.section {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 750px;
    margin: 10px;
    overflow: auto;
}
p {
    line-height: 1.8em;  
    padding: 1rem; 
    margin-bottom: 1.5rem;
    border-radius: 12px;
}
img {
    float: left;
    margin: 0 20px 20px 0;
    border: 2px solid #ddd1c7;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
img:hover {
    box-shadow: 2.5px 2.5px 10px #894b18;
}
#poster{
    width: 150px; 
    height: 250px; 
}
#future{
    height:350px;
}
h1 {
    padding: 35px;
    text-align: center;
    background-color: #c2cfb2;
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; 
    font-size: 60px;
    color: #fff; 
    border: 1px solid black;
    border-radius: 5px;
}

a {
    text-decoration:wavy; 
    color: #e2b087; 
    font-weight: normal; 
}

a:hover {
    cursor: url('m_pickup.cur'),auto;
    color: rgb(123, 95, 18); 
    text-decoration: line-through;
}
h3 {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border: .25px solid black;
    border-radius: 5px;
    background-color: rgba(194, 207, 178, 0.8);
    text-align: center;  
    width: fit-content;   
    margin-left: auto;
    margin-right: auto; 
    max-width: 90%;     
}
#container{
    width:700px;
    margin: 0 auto;
    background-color: #ddd1c7;
    padding: 30px;
}
.shadow{
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 10px rgba(0, 0, 0, 0.5); 
}
.highlight{
    background-color: #d79a69;
    color: white;
    padding:3px;
}